// Your own styles

body {

    font-family: 'Roboto Condensed', sans-serif;
}

.nav0 {
    display: flex;
    justify-content: center;
}

.navbar-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 

}

.nav3 {
    display: flex;
    flex-direction: row;
}
   

.navbar-nav {
    display: flex;
    flex-flow: row;
    
}

.nav-item {
    padding: 0 5px;
}

h4 {
    margin: 2rem 0;
}

.blackcontainer {
    background-color: #222;
    margin-top: -35px;
}

.nav2 {
    padding-top: 45px;
    a {
        color: blue;
        text-decoration: underline;
    }
}

.price {
    display: flex;
    justify-content: space-between;
}

.menu h2, h3 {
    text-align: left;
}

.cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: calc(100% - 10px);
        
}

.carouselcontainer {
    background-color: darkgray;
}

.carousel-caption {
    font-weight: 300;
    text-align: center;
    font-size: 18px;

    
}








@media screen and (min-width: 768px) {
    .cardcontainer {
        flex-flow: row wrap;
        .card {
            width: calc(50%-10px);
            width: 50%;
        }
    }

}
